<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/wL98YUq0QGSRZBjWLVYE_skyline.jpg) no-repeat center;" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/gg8fQ1dIQjaiF6C4eV0I_rouxacademylogo.svg" width="100%" height="aut">
        </div>
        <div>
            <div class="tagline">2015 conference</div>
            <p>Join 500 creative and brilliant minds from art colleges around world.</p>
        </div>
        <div class="spacer" style="width: 300px; height: 72px;"></div>
        <a ui-sref="login" class="button button-positive button-block  icon-right ion-log-in">Log in</a>
        <a ui-sref="signup" class="button button-positive button-block  icon-right ion-person-add">Register</a>
    </ion-content>
</ion-view>