<ion-view title="Post">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label"></span><textarea placeholder="Title"> </textarea>
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Details</div>
            <div class="item item-body">
                <form class="list">
                    <div class="button-bar"></div>
                    <label class="item item-input">
                        <span class="input-label"></span><textarea placeholder="Title"> </textarea>
                    </label>
                </form>
            </div>
        </div>
        <form class="list">
            <ion-checkbox>Staff</ion-checkbox>
            <ion-checkbox>Student</ion-checkbox>
        </form>
        <div class="button-bar">
            <button class="button button-positive button-block  icon-right ion-android-send">Post</button>
            <button class="button button-positive button-block  icon-right ion-android-cancel">Cancel</button>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>