<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="StudentID/StaffID">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 100px;"></div>
            <button class="button button-stable button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>