<ion-view title="View Notice">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Notice">
            </label>
        </form>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.details">
                <img src="img/1IyHoZe7RDCmQZwdEkSC_Bell-128.png">
                <h2>Meeting At Aba Bentil</h2>
                <p>All Computer sceince students and staffs are invited</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.details">
                <img src="img/cEdEgfLVTaCZmKAbhFoG_notice.png">
                <h2>Monday class canceled</h2>
                <p>From the Networking lecturer, monday class have been canceled</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.details">
                <img src="img/zo7dWXuDRYGMeHLBS5QL_81f45666ce00422aeb9c1022da1627aaa432280a.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/xV4xFs1KTbOshewTaxJm_notice.png">
                <h2>School</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>